@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");

/* 길이 변경 */
::-webkit-scrollbar {
   width: 10px;
}

/* 트랙 (Track) */
::-webkit-scrollbar-track {
   background: #333;
}

/* 핸들 (Handle) */
::-webkit-scrollbar-thumb {
   background: #666;
   border-radius: 10px;
}

body {
   padding: 0 20px;
   font-family: "Noto Sans KR", sans-serif;
   font-size: 14px;
   line-height: 1.4;
   background: #000;
}
a {
   text-decoration: none;
   color: #fff;
}
img {
   max-width: 100%;
   vertical-align: top;
}
.btn {
   padding: 15px 30px;
   background-color: #333;
   color: #fff;
   border: 1px solid #000;
   border-radius: 40px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   &:hover {
      background-color: #444;
   }
}
.wrapper {
   .header,
   .container {
      max-width: 1400px;
      margin: 0 auto;
   }
   .container {
      padding: 100px 0;
   }
}

.bottom__buttons {
   margin: 50px 0;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.q-table {
   border: 1px solid #333;
   &__card {
      &.q-dark {
         background: none;
      }
   }
   &__grid {
      &-item-card {
         background-color: #222 !important;
      }
   }
   thead {
      background-color: #111;
   }
   tbody {
      background-color: #222;
   }
}

.q-dialog__inner--minimized > div {
   width: 100%;
   border: 1px solid $secondary;
}

.ql-container {
   height: 400px;
}

.ql-editor {
   height: 100%;
}

.table {
   margin-top: 40px;
   &-bottom__button {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
   }
}
